<!-- <p>my-movie-component works!</p> -->

<div class="show-movies">
  <div class="img-movie" *ngFor="let ernes of cristial">
    <img src="{{ernes.poster}}" alt=""   width= "350" height= "450px"><br>
    <button><a href="/home">Go back</a></button>
  </div>
  <div class = "show-info" *ngFor="let ernes of cristial">
    <h2>{{ernes.title}}</h2>
    <p><b>Date:</b> {{ernes.hours}}</p>
    <p><b>Room:</b> {{ernes.room}}</p>
    <p><b>Year:</b> {{ernes.year}}</p>
    <p><b>Director:</b> {{ernes.director}}</p>
    <p><b>Actors:</b> {{ernes.actors}}</p>
    <p><b>Hour:</b> {{ernes.hours}}</p>
    <p><b>Genre:</b> {{ernes.genres}}</p>
    <p><b>Synopsis:</b> {{ernes.synopsis}}</p>
  </div>
</div>
