.show-movies img{
  width: 200px;
  height: 300px;
  margin: 10px auto;


}

.show-movies {
  width: 18%;
  display: inline-block;
  text-align:center;
  padding:10px;
  font-size:12px;

}

.show-movies button {
  width: 200px;
  height: 30px;
  background-color: darkgrey;
}


.show-movies button a:link {
    text-decoration: none;
    color: black;
}

.show-movies button a:visited{
    text-decoration: none;
    color: black;
}
